
nav {
    display: block;
    font-family: 'Bitter', serif;
    float: right;
}

.my_img {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.my_info {
    text-align: center;
}

.tag-line {
    font-family: 'fabfeltscriptbold';
    font-size: 40px;
}

.social-icons li {
    display: inline;
}

.fa {
    color: white;
}



header ul {
    position: fixed;
    left: 0;
    width: 100%;
    background-color: rgb(102, 115, 134);
    color: white;
    text-align: center;
    background-color: wheat;
}



footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(102, 115, 134);
    color: white;
    text-align: center;
 }