
nav {
    display: block;
    font-family: 'Bitter', serif;
    float: right;
}

.my_img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.my_info {
    text-align: center;
}

.tag-line {
    font-family: 'fabfeltscriptbold';
    font-size: 40px;
}

.social-icons li {
    display: inline;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(238, 90, 90);
    color: white;
    text-align: center;
 }